.botaochamado{
    position: relative;
    padding-left: 12px;
    background-color: #008CBA;
    font-size: 16px;
    border-radius: 4px;
    color:white;
    margin: 3px;
}

.botaochamado:hover{
    background-color: navy;
    color: white;
}

.cartoes {
    padding: 5px;
    margin:5px;
}


.grid-container {
    margin: 20px;
  }
  
  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: center;
  }

